@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  /* background: linear-gradient(to right, #074140, #edfdf9); */
  /* background: linear-gradient(180deg, rgb(23, 23, 23), rgb(41, 41, 41)); */

  padding: 0;
  margin: 0;
}
header {
  /* background: #ffffff; */
  background: #0b1d2911;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 1.5%;
}
label.logo {
  cursor: pointer;
}
nav.hod ul li {
  display: inline;
  padding: 0px 20px;
}
nav.hod ul li a.log {
  transition: all 0.3s ease 0s;
  border: 2px solid transparent;
  background: -webkit-linear-gradient(to right, #06151f, #183c55);
  background: linear-gradient(to right, #06151f, #183a53);
  border-radius: 63% 37% 63% 37% / 0% 100% 0% 100%;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: bold;
}
/* nav.hod ul li a.log:hover {
} */
div.menu {
  background: #ffffff;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 1000px 0 rgba(255, 253, 253, 0.2),
    0 1.5px 5px 0 rgba(32, 32, 32, 0.19);
  font-weight: bold;
}
.stecky {
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}
ul.navi li {
  display: inline-block;
}
ul.navi li a {
  color: #0b1d29;
  padding: 5px 10px;
  margin: 0px 5px;
  border-radius: 4%;
}
ul.navi li a:hover {
  transition: 0.3s step-start;
  padding: 5px 10px;
  border-radius: 4%;
  /* background-color: #102736;
  color: #ffffff; */
  border-bottom: 4px solid orange;
}

.search {
  border: 2px solid #0b1d29;
  border-radius: 15px;
  padding: 5px 5px;
  background-color: transparent;
  transition: width 0.4s ease-in-out;
}
/* .bg {
  background: -webkit-linear-gradient(to bottom, #4a2806, #e2fdf7);
  background: linear-gradient(to right, #074136, #edfdf9);
} */

div.contaner1 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: auto;
  width: 88%;
  height: auto;
  /* padding: 5px 5px; */
  padding-bottom: 50px;

  /* border: 2px solid black; */
  /* border-radius: 5%; */
  margin-left: 6.5%;
  margin-top: 1%;
}
.ab {
  color: #000;
}
.bacimg {
  border-radius: 7px 30px;
  cursor: pointer;
  /* margin-top: -1.5%; */
  height: 220px;
}
.bac {
  margin-top: -16%;
  background: #ffffff;
  padding: 30px 20px;
  border-radius: 0 0 7px 30px;
  cursor: pointer;

  /* border: 1px solid #09192429; */
}
div.box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  /* margin: 10px 10px; */
  margin-right: 20px;
  margin-top: 10px;
  /* padding: 10px 10px; */
  flex: 0 0 auto;
  width: 25%;
  /* height: 250px; */
  border-radius: 7px 30px;
  border: 2px solid #09192429;
  /* background: #d5f8f159; */
  background: #eefefb;
  /* background: url(/c.jpg);
  background-size: 100% 100%; */
  background-repeat: no-repeat;
  /* color: rgb(14, 108, 107); */
}
div.box:hover {
  /* border: 3px solid #5d8986; */
  /* padding: 18px; */
  transition: all 0.3s ease 0s;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);
}
.button1 {
  margin-top: 10px;
  /* margin-left: 30%; */
  background-color: #187ae3;
  color: white;
  font-size: 16px;
  padding: 14px 30px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
}
.sty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 88.5%;
  margin-left: 6.5%;
  padding: 15px 10px;
  border-left: 8px solid orange;
  border-radius: 10px;
  background: #0b1d2911;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.button2 {
  /* margin: 60px; */
  background-color: transparent;
  /* color: #0e6251; */
  color: linear-gradient(to left, #0b1d29, #edfdf9);
  font-size: 14px;
  padding: 8px 25px;
  /* border: 2px solid #021411; */
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
}
.headding1 {
  /* text-align: center; */
  /* margin: 60px 216px 60px; */

  color: #0a0000;
  /* color: linear-gradient(to left, #25927e, #edfdf9); */
}
.headding2 {
  text-align: center;
  /* margin-left: 28%; */
  margin-top: 8%;
  margin-bottom: 10px;
  color: linear-gradient(to left, #25927e, #edfdf9);
}
.headding {
  text-align: center;
  margin: 40px;
  color: linear-gradient(to left, #25927e, #edfdf9);
  /* background: url(/c.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat; */
  /* padding: 50px; */
}
.videos {
  display: flex;
  /* justify-content: flex-end; */
  flex-wrap: nowrap;
  flex-direction: row;
  height: 360px;
  width: 89%;
  margin-left: 6.5%;
  background: #0b2434;
  padding: 10px 10px;
  margin-top: 5%;
  border-top: 5px solid orange;
  border-radius: 10px;
}
.vc {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  padding: 5px 5px;
  overflow: hidden;
  height: auto;
  width: 50%;
  /* border: 2px solid white; */
}
.vcc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;
  flex: 0 0 auto;
  width: 90%;
  height: 50px;
  padding: 20px 40px;
  border-radius: 20px;
  background: -webkit-linear-gradient(to right, #cde5f642, #0b2434);
  background: linear-gradient(to right, #cde5f642, #0b2434);
  color: rgba(255, 255, 255, 0.756);
  /* font-weight: 22px; */
}
.vcc:hover {
  transition: all 0.3s ease 0s;
  background: -webkit-linear-gradient(to right, #cde5f642, #cde5f642);
  background: linear-gradient(to right, #cde5f642, #cde5f642);
}
.v {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 90%;
  height: 50px;
  color: white;
  background: orange;
  margin-top: 20px;
  border-radius: 20px;
}
/* .vcimg:hover {
  height: 50px;
} */
.v:hover {
  opacity: 0.8;
}
/* .ad {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  /* border: 2px solid #0b2434; 
  padding-left: 15%;
  margin-bottom: 5%;
  /* margin-top: 10%; 
}
.ad1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  /* border: 2px solid #0b2434; 
  padding-left: 5%;
  margin-bottom: 10%;
  /* margin-top: 10%; 
}
.adtyping1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  margin-left: 10%;
  margin-top: -10%;
  /* border: 2px solid #0b2434; 
}
.compiler {
  flex: 0 0 auto;
  width: 25%;
  height: 15%;
  border: 1px Solid #0b2434;
  margin: 5px 10px;
} */
.first1 {
  display: inline-block;
  justify-content: space-between;
  height: 550px;
  width: 100%;
  background: #0b1d29;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  /* margin-bottom: 50px; */
  /* border-radius: 0 0 50% 50%; */
}
.inte {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin: 50px 10px;
  margin-top: -13%;
}
.hellow {
  margin: 10px 10px;
  font-size: 40px;
  text-shadow: 0 0 0px rgba(255, 255, 255, 0.3),
    0 0 23px rgba(255, 255, 255, 0.3);
}
/* @import url("https://fonts.googleapis.com/css?family=Roboto:700"); */

/* p {
  /* text-shadow: 0 0 7px rgba(255, 255, 255, 0.3),
    0 0 3px rgba(255, 255, 255, 0.3); 
} */
.c1 {
  color: #e5e5e5;
  font-size: 2.26rem;
  /* text-transform: uppercase; */
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-left: 25%;
}

.animation1 {
  height: 55px;
  overflow: hidden;
  margin-left: 10px;
}

.animation1 > div > div {
  padding: 0.25rem 0.75rem;
  align-items: center;
  /* height: 2.81rem; */
  height: 55px;
  /* margin-bottom: 2.81rem; */
  margin-bottom: 31px;
  display: inline-block;
}

.animation1 div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color: #20a7d8;
}
.second div {
  background-color: #cd921e;
}
.third div {
  background-color: #c10528;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -4.62rem;
  }
  30% {
    margin-top: -4.62rem;
  }
  40% {
    margin-top: -10.24rem;
  }
  60% {
    margin-top: -10.24rem;
  }
  70% {
    margin-top: -4.62rem;
  }
  80% {
    margin-top: -4.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

.picture {
  /* float: left; */
  text-align: center;
  margin: auto;
  height: 100%;
  width: 100%;
}
.picture h2 {
  margin: 60px 50px;
  color: #ffffff;
}

.button-lac {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  /* margin-top: 10%; */
}
a.background-button {
  position: relative;
  width: 100%;
  padding-top: 25.92%;
  display: block;
  background-size: 100% 100%;
  font-family: "luckiest guy";
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #333;
}

a.background-button {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/323909/yellow-shadow.png);

  &:after {
    content: attr(title);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/323909/yellow-top.png);
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover:after {
    -webkit-transform: translate(2.5%, 10%);
    transform: translate(2.5%, 10%);
    /* text-shadow: 2px 2px 1px white; */
    color: rgb(255, 255, 255);
  }
}

.button-wrapper {
  width: 355px;
  display: inline-block;
  margin: 20px;

  &:nth-child(2) a {
    -webkit-filter: hue-rotate(36deg);
    filter: hue-rotate(36deg);
  }
  &:nth-child(3) a {
    -webkit-filter: hue-rotate(72deg);
    filter: hue-rotate(72deg);
  }
  &:nth-child(4) {
    -webkit-filter: hue-rotate(108deg);
    filter: hue-rotate(108deg);
  }
  &:nth-child(5) {
    -webkit-filter: hue-rotate(144deg);
    filter: hue-rotate(144deg);
  }
  &:nth-child(6) {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }
  &:nth-child(7) {
    -webkit-filter: hue-rotate(216deg);
    filter: hue-rotate(216deg);
  }
  &:nth-child(8) {
    -webkit-filter: hue-rotate(216deg);
    filter: hue-rotate(216deg);
  }

  &:nth-child(9) {
    -webkit-filter: hue-rotate(252deg);
    filter: hue-rotate(252deg);
  }

  &:nth-child(7) {
    -webkit-filter: hue-rotate(288deg);
    filter: hue-rotate(288deg);
  }

  &:nth-child(8) {
    -webkit-filter: hue-rotate(324deg);
    filter: hue-rotate(324deg);
  }
}

.code {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10px;

  /* border: 2px solid black; */
  height: auto;
  width: 100%;
  padding: 10px 10px;
  padding-left: 2.7%;

  /* background: #0b1d290f; */
  /* background: -webkit-linear-gradient(to bottom, #8cb7ae, #ffffff);
  background: linear-gradient(to right, #074136, #edfdf9); */
}

.compilerpic {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px;
  height: 300px;
  width: 450px;
}
/* .comp {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding: 20px 30px; 
  margin-left: 15%;
} */
.compiler {
  text-align: center;
  border-radius: 15px 50px;
  background: #e4e4e5;
  margin: 10px;
  padding: 20px 20px;
  font-size: 30px;
  width: 400px;
  height: 90px;

  /* padding: 10px; */
}
.compiler2 {
  /* display: inline-block;
  justify-content: space-between; */
  text-align: center;
  box-shadow: 0 4px 10px 0 rgba(166, 90, 173, 0.2),
    0 1.5px 5px 0 rgba(78, 77, 77, 0.19);
  border-radius: 15px 50px;
  background: #641e16;
  margin: 15px;
  color: #e2fdf7;
  width: 210px;
}
.compiler3 {
  /* display: inline-block;
  justify-content: space-between; */
  text-align: center;
  box-shadow: 0 4px 10px 0 rgba(166, 90, 173, 0.2),
    0 1.5px 5px 0 rgba(78, 77, 77, 0.19);
  border-radius: 15px 50px;
  background: #e35818;
  margin: 15px;
  color: #e2fdf7;
  width: 210px;
}
.compiler ul li,
.compiler2 ul li,
.compiler3 ul li {
  display: inline-flex;
  justify-content: space-around;
  padding: 15px 15px;
  margin: 5px 5px;
}
h4.name {
  /* margin-left: 100px; */
  padding-left: 80px;

  /* background: #206d6a;
  border-radius: 50px; */
}
/* .link {
  /* display: inline-block;
  justify-content: space-between; 
background: #ffffff;  */
/* margin: 5px 5px; 
  padding: 20px 20px;
} */
.link {
  color: #ffffff;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  overflow: hidden;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  color: transparent;
  background: transparent;
  border-radius: 10px;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #177b5c;
} */

.footer {
  display: flex;
  width: 100%;
  height: 250px;
  /* background: #ffffff; */
  background: #0b1d29;
  /* border-top: 1px solid #074136; */
  color: rgb(255, 255, 255);
  margin-top: 5%;
}

/* Full-width input fields */
/* .login input[type="text"], */
/* input[type="password"]*/
.login {
  width: 100%;
  padding: 16px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
}
.loginbutton {
  /* background-color: #187ae3; */
  background: -webkit-linear-gradient(to right, #06151f, #183c55);
  background: linear-gradient(to right, #06151f, #183a53);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
}
.loginbuttonl {
  background-color: #3e59e0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  font-size: medium;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
}
.loginbuttong {
  background: #fefefe;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 6px 0;
  font-size: medium;
  border: 1px solid gray;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
}
.or {
  margin-left: 47%;
}

.loginbutton1 {
  transition: all 0.3s ease 0s;
  border: 2px solid transparent;
  background: -webkit-linear-gradient(to right, #06151f, #183c55);
  background: linear-gradient(to right, #06151f, #183a53);
  border-radius: 63% 37% 63% 37% / 0% 100% 0% 100%;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: bold;
}
.loginbutton:hover,
.loginbuttonl:hover {
  opacity: 0.8;
}
.loginbuttong:hover {
  /* opacity: 0.2; */
  background: rgb(219, 216, 216);
  border: 1px solid gray;
}

/* Extra styles for the cancel button
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
} */

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 30px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  border-radius: 80%;
}

.container {
  padding: 20px;
  align-items: center;
}
.containerl {
  margin-right: 23%;
  /* padding: 1px; */
  /* align-items: center; */
  /* margin-top: 1%; */
}

span.psw {
  float: right;
  /* padding-top: 10px; */
}
span.pswl {
  float: right;
  /* padding-top: 10px; */
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 40px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;

  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 2px solid #0a3551;
  width: 26%; /* Could be more or less, depending on screen size */
  height: 80%;
  border-radius: 15px 50px;
}

/*The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #141d41;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  /* .cancelbtn {
    width: 100%;
  } */
}
.artical {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  width: 100%;
  margin-bottom: 8%;
  margin-top: -7%;
  padding: 10px;
}
.articalbox1 {
  padding: 35px 10px;
  color: rgb(0, 0, 0);
  height: 250px;
  width: 37%;
  border-radius: 25px 75px;
  overflow: hidden;
  background: rgb(245, 219, 190);
  /* background: #0b1d29; */
}
.articalbox2 {
  padding: 35px 10px;
  text-align: left;
  height: 250px;
  width: 37%;
  border-radius: 25px 75px;
  overflow: hidden;
  background: rgb(204, 228, 251);
  color: rgb(0, 0, 0);
}
.texta {
  text-align: right;
  margin-right: 80px;
  margin-top: 50px;
}
.texta2 {
  text-align: left;
  margin-left: 20px;
}
.news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex-wrap: nowrap;
  overflow-y: auto; */

  width: 100%;
  height: auto;
  padding: 10px 10px;
  margin-top: 120px;
  /* background: #187ae3; */
}
.newsdiv {
  /* flex: auto 0 0; */
  width: 89%;
  height: 150px;
  background: #0b243408;
  /* border: 2px solid rgba(1, 68, 57, 0.543); */
  border: 0.5px double #e3e3e3a1;
  margin: 8px auto;
  border-radius: 10px;
  padding: 10px 20px;
}
.newsnav {
  /* width: 100%; */
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 88.5%;
  margin-left: 6%;
  padding: 10px 10px;
  /* border-left: 8px solid orange;
  border-right: 8px solid orange; */
  border-radius: 15px;
  margin-bottom: 1%;
  background: #0b1d2911;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #414040;

  /* background: white; */
  /* position: sticky; */
  /* border: 1px solid #baebe9; */
}
.cnt {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 10px;
  color: rgb(47, 47, 47);
  font-size: 22px;
}
.cnts {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 10px;
  color: rgb(60, 60, 60);
  font-size: 15px;
}
